{{ template "header" }}
package controllers

import (
	"github.com/gofiber/fiber/v2"
)

func {{.ListName }}(c *fiber.Ctx) error {
	return nil
}

func {{.DetailName}}(c *fiber.Ctx) error {
	return nil
}

func {{.UpdateName}}(c *fiber.Ctx) error {
	return nil
}

func {{.DeleteName}}(c *fiber.Ctx) error {
	return nil
}