{{ template "header" }}
package mappers

import (
	"{{.Dir}}/pkg/models"
)

type {{.Name}} struct {

}

func Request{{.Name}}s({{.Path}}s []models.{{.Name}}) []{{.Name}} {
	var {{ slice .Path  0 2}} []{{.Name}}
	for _, {{ slice .Path  0 1}} := range {{.Path}}s {
		{{ slice .Path  0 2}} = append({{ slice .Path  0 2}}, Request{{.Name}}({{ slice .Path  0 1}}))
	}

	return {{ slice .Path  0 2}}
}

func Request{{.Name}}({{.Path}} models.{{.Name}}) {{.Name}} {
	var {{ slice .Path  0 1}} {{.Name}}

	return {{ slice .Path  0 1}}
}
