{{ template "header" }}
package repositories

import (
	"{{.Dir}}/cmd/database"
	"{{.Dir}}/pkg/models"
)

func FindAll{{.Name}}() []models.{{.Name}} {
	var {{.Path}}s []models.{{.Name}}
	database.Connection.Find(&{{.Path}}s)
	return {{.Path}}s
}

func FindByID{{.Name}}(id int) models.{{.Name}} {
	var {{.Path}} models.{{.Name}}
	database.Connection.Find(&{{.Path}}, "id", id)
	return {{.Path}}
}
