{{ template "header" }}
package services

import (
	"{{.Dir}}/pkg/mappers"
	Query{{.Name}} "{{.Dir}}/pkg/repositories"
)

func Get{{.Name}}s() []mappers.{{.Name}} {
	{{.Path}}s := Query{{.Name}}.FindAll()
	m{{.Name}}s := mappers.Request{{.Name}}s({{.Path}}s)

	return m{{.Name}}s
}
