package controllers

import (
	"github.com/gofiber/fiber/v2"
)

func {{.ListName }}(c *fiber.Ctx) error {

}

func {{.DetailName}}(c *fiber.Ctx) error {

}

func {{.UpdateName}}(c *fiber.Ctx) error {

}

func {{.DeleteName}}(c *fiber.Ctx) error {


}