/*
Generate by salva 
*/
package routes

import (
	"github.com/gofiber/fiber/v2"
	"vehicular-back-go/pkg/controllers"
)

func {{.Name}}Route(router fiber.Router) {
	router.Get("/{{.Path}}s", controllers.{{.ListName }})
	router.Get("/{{.Path}}/:id", controllers.{{.DetailName}})
	router.Get("/{{.Path}}/:id", controllers.{{.UpdateName}})
	router.Get("/{{.Path}}/:id", controllers.{{.DeleteName}})
}